<div class="row">
    <h1>This is the games partial</h1>
    
    <div>
        <div>
            <button class="btn" ng-click="previousRound()">Previous Round</button>
            <button class="btn" ng-click="nextRound()">Next Round</button> 
        </div>
        <span>{{roundTitle}}</span>        
        
        <li ng-repeat="game in games" class="no-list-style-type">
            <div class="pick-game">                  
                <button class="btn btn-pick" 
                ng-class="{'active':game.pick == 'HOME'}"
                ng-disabled="game.pick != 'HOME' && game.hasBegun"
                ng-click="sendPick(game, 'HOME')">
                    {{game.home}}
                </button>
                <button class="btn btn-pick" 
                ng-class="{'active':game.pick == 'DRAW'}"
                ng-disabled="game.pick != 'DRAW' && game.hasBegun"
                ng-click="sendPick(game, 'DRAW')"
                ng-show="game.allowDraw">
                    Draw
                </button>
                <button class="btn btn-pick" 
                ng-class="{'active':game.pick == 'AWAY'}"
                data-ng-disabled="game.pick != 'AWAY' && game.hasBegun"
                ng-click="sendPick(game, 'AWAY')">
                    {{game.away}}                    
                </button>                
            </div>            
        </li>       
    </div>
</div>
