<div class="row">
    <h1>This is the games partial</h1>
    
    <div ng-controller="GamesController">
        <p class="text-error">{{errorMessage}}</p>
        <div>
            <button class="btn" ng-click="previousRound()">Previous Round</button>
            <button class="btn" ng-click="nextRound()">Next Round</button> 
        </div>
        <span>{{roundTitle}}</span>        
        
        <li ng-repeat="game in games" class="no-list-style-type">
            <div class="pick-game">                  
                <button class="btn btn-pick">{{game.home}}</button>
                <button class="btn btn-pick">Draw</button>
                <button class="btn btn-pick">{{game.away}}</button>                
            </div>            
        </li>       
    </div>
</div>
