<div ng-controller="LeaderboardController">
    <h1 class="row span9">This is the leaderboard partial</h1>

    <table class="table table-striped row span6">
        <tbody>
            <tr ng-repeat="entry in model.leaderboard">
                <td class="span1">{{entry.position}}</td>
                <td class="span4">
                    <img ng-src="{{entry.imageUrl}}" alt="{{entry.name}}" />
                    <span>{{entry.name}}</span>
                </td>
                <td class="span1">{{entry.correctPicks}}</td>
            </tr>
        </tbody>
    </table>
        
    <div class="row span6">
        <label for="showInLeaderboard">Show in leaderboard:</label>
        <input id="showInLeaderboard" name="showInLeaderboard" ng-model="model.showInLeaderboard" type="checkbox" />
    </div>
</div>
