<div>
    <h1 class="row span6">This is the leaderboard partial</h1>

    <div class="row span6">
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="entry in leaderboard">
                <td class="span1">{{entry.position}}</td>
                <td class="span4">
                    <img ng-src="{{entry.imageUrl}}" alt="{{entry.name}}" />
                    <span>{{entry.name}}</span>
                </td>
                <td class="span1">{{entry.correctPicks}}</td>
            </tr>
        </tbody>
    </table>
    </div>
        
    <div class="row span3">
        <label for="showInLeaderboard">Show in leaderboard:</label>
        <input id="showInLeaderboard" name="showInLeaderboard" type="checkbox"
            ng-model="showInLeaderboard" ng-change="updateShowInLeaderboard()" />
    </div>
</div>
