<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="app">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
      </handlers>
    </system.webServer>
  </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Index" patternSyntax="ECMAScript">
                    <match url="/*" />
                    <action type="Rewrite" url="/app/index.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>