.container-top-margin {
    margin-top: 60px;
}

/* CSS rule for using ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.no-list-style-type {
    list-style-type: none;
}

.pick-game {
    margin: 5px 0;
    display: inline-block; 
    width: auto; 
    font-size: 0;
}

.btn-pick {
    width: 150px;
    height: 50px;        
    white-space: normal;
    border-radius: 0;
    margin: 1px;
    background-color: #eee;
}

.pick-game .active {
    background-color: #5393c5;
    box-shadow: none; 
}
